In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('jartest.csv')
df.head()

,Date,Raw_Turbidity,Raw_PH,Raw_Colour,PAC,KMnO4,ACD,Turbidity,PH,Colour
0,31/12/2019,90.4,7.07,500.0,2.5,0.4,0.5,19.0,7.07,48.0
1,31/12/2019,90.4,7.07,500.0,3.0,0.4,0.5,14.2,7.05,39.0
2,31/12/2019,90.4,7.07,500.0,3.5,0.4,0.5,12.6,7.02,31.0
3,31/12/2019,90.4,7.07,500.0,4.0,0.4,0.5,10.6,6.98,27.0
4,31/12/2019,90.4,7.07,500.0,4.5,0.4,0.5,10.7,6.93,29.0

In [10]:
def remove_outliers_iqr(df, columns):
    clean_df = df.copy()
    for col in columns:
        if col in ['Date']:  # Skip non-numeric columns
            continue
            
        # Calculate quartiles and IQR
        Q1 = clean_df[col].quantile(0.25)
        Q3 = clean_df[col].quantile(0.75)
        IQR = Q3 - Q1
        
        # Define outlier bounds
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        # Filter out outliers
        clean_df = clean_df[(clean_df[col] >= lower_bound) & (clean_df[col] <= upper_bound)]
    
    return clean_df

In [11]:
numeric_cols = ['Raw_Turbidity', 'Raw_PH', 'Raw_Colour', 'PAC', 'KMnO4', 'ACD', 
                'Turbidity', 'PH', 'Colour']

In [12]:
original_count = len(df)
clean_df = remove_outliers_iqr(df, numeric_cols)
cleaned_count = len(clean_df)

In [14]:
clean_df.to_csv('cleanedjartest.csv', index=False)