In [16]:
import pandas as pd
from sklearn.ensemble import IsolationForest
from IPython.display import FileLink

In [17]:

# 1. Load the dataset
df = pd.read_csv("E:\jar-model\jartest.csv")
df.head()

<>:2: SyntaxWarning: invalid escape sequence '\j'
<>:2: SyntaxWarning: invalid escape sequence '\j'
C:\Users\HP\AppData\Local\Temp\ipykernel_27184\2005892296.py:2: SyntaxWarning: invalid escape sequence '\j'
  df = pd.read_csv("E:\jar-model\jartest.csv")

,Date,Raw_Turbidity,Raw_PH,Raw_Colour,PAC,KMnO4,ACD,Turbidity,PH,Colour
0,31/12/2019,90.4,7.07,500.0,2.5,0.4,0.5,19.0,7.07,48.0
1,31/12/2019,90.4,7.07,500.0,3.0,0.4,0.5,14.2,7.05,39.0
2,31/12/2019,90.4,7.07,500.0,3.5,0.4,0.5,12.6,7.02,31.0
3,31/12/2019,90.4,7.07,500.0,4.0,0.4,0.5,10.6,6.98,27.0
4,31/12/2019,90.4,7.07,500.0,4.5,0.4,0.5,10.7,6.93,29.0

In [18]:
# Drop rows with missing target values
df = df.dropna(subset=['Turbidity', 'PH', 'Colour'])
df.head()

,Date,Raw_Turbidity,Raw_PH,Raw_Colour,PAC,KMnO4,ACD,Turbidity,PH,Colour
0,31/12/2019,90.4,7.07,500.0,2.5,0.4,0.5,19.0,7.07,48.0
1,31/12/2019,90.4,7.07,500.0,3.0,0.4,0.5,14.2,7.05,39.0
2,31/12/2019,90.4,7.07,500.0,3.5,0.4,0.5,12.6,7.02,31.0
3,31/12/2019,90.4,7.07,500.0,4.0,0.4,0.5,10.6,6.98,27.0
4,31/12/2019,90.4,7.07,500.0,4.5,0.4,0.5,10.7,6.93,29.0

In [19]:

# 2. Detect outliers with Isolation Forest
features = ['Raw_Turbidity', 'Raw_PH', 'Raw_Colour', 'PAC', 'KMnO4', 'ACD', 
            'Turbidity', 'PH', 'Colour']
iso = IsolationForest(contamination=0.05, random_state=42)
df['is_inlier'] = iso.fit_predict(df[features])

In [20]:

# 3. Remove outliers
df_clean = df[df['is_inlier'] == 1].drop(columns=['is_inlier'])

In [21]:

# 4. Save cleaned data
clean_path = 'cleaned_jartest1.csv'
df_clean.to_csv(clean_path, index=False)
print(f"Clean data saved to {clean_path}")

Clean data saved to cleaned_jartest1.csv

In [22]:

# 5. Provide a download link in Jupyter
FileLink(clean_path)

e:\jar-model\cleaned_jartest1.csv